<div class="border-form-div">
<div class="text-center">
	<h2>Iniciar sesion</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.email_field :email,:placeholder => 'Correo electronico', :autofocus => true %>
    <%= f.password_field :password ,:placeholder => 'Contraseña'%>
    <%= f.submit "Ingresar" ,:class => "btn btn-success"%>
  <% end %>	
</div>
</div>